@import "tailwindcss";
@tailwind utilities;
html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  background: linear-gradient(
    180deg,
    #000814 0%,
    #001d3d 45%,
    #003566 75%,
    #0b3a6a 100%
  );
  background-attachment: fixed; /* cuộn vẫn giữ hiệu ứng đẹp */
}
.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-track {
  background: black;
}
