@import "tailwindcss";
@tailwind utilities;
html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  background: linear-gradient(
    180deg,
    #000814 0%,
    #001d3d 45%,
    #003566 75%,
    #0b3a6a 100%
  );
  background-attachment: fixed;
}
.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-track {
  background: black;
  border-radius: 9999px;
}
.hide-layout header,
.hide-layout aside {
  display: none !important;
}
